# **Step 2**
In this notebook, we will be using Pandas to clean the Krishnamurti's speeches

In [ ]:
import pandas as pd

# Formatting pandas DataFrame display
from google.colab import data_table
data_table.disable_dataframe_formatter()

In [ ]:
# Reading in JSON
df = pd.read_json("krishnamurti.json")
df.sort_values('text').head(4)

,Text source,Talk Type,Participants Category,Decade,Date Code,Country,City,text,Participants
145,AV,Discussion,None,80s,851211,India,Rishi Valley,(Chanting) Krishnamurti: Do we all sit quietly...,None
86,AV,Discussion,Public,70s,780103,India,Madras (Chennai),(Sounds in background) I am sorry you have to ...,None
281,VB,Discussion,None,40s,471230,India,Madras,1 30.12.1947 2 To love one another is one of t...,None
298,VB,Discussion,None,60s,610222,India,Bombay,1 We were considering the other day when we me...,None

In [ ]:
df

**Text**  
Thing to clean:


*   Numerical Dates prepending each string
*   Speaker identification tags
*   Page tags

In [ ]:
# Numerical Dates
df['text'] = df['text'].str.replace(r"(\d)", "")

# Speaker identification tags
df['text'] = df['text'].str.replace(r"(\w)*(:)", "")

# Page tags
df['text'] = df['text'].str.replace(r"-- Page--", "")
df['text'] = df['text'].str.replace(r"- END -", "")
df['text'] = df['text'].str.replace(r"Page Page", "")
df['text'] = df['text'].str.replace(r"Page(of )", "")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

In [ ]:
# We should see no numbers, page tags, or speaker identification
df.sort_values('text').head(4)

,Text source,Talk Type,Participants Category,Decade,Date Code,Country,City,text,Participants
281,VB,Discussion,None,40s,471230,India,Madras,.. To love one another is one of the most di...,None
138,AV,Discussion,None,80s,850609-1,England,Brockwood Park,...Self-interest and how that leads to confli...,None
63,AV,Discussion,Small Group,70s,760520-2,England,Brockwood Park,"After this morning, as an outsider, you have ...","Bohm, David / Shainberg, David"
197,EP,Discussion,Small Group,70s,760520-2,England,Brockwood Park,"After this morning, as an outsider, you have ...","Bohm, David / Shainberg, David"

**Great!**  
Let's now load out cleaned speeches into a new json file

In [ ]:
df.to_json("krishnamurti_clean.json")